#test{
    font-size: 40px;
    background: red;
}

.delete a:hover{
     background: red;
}
.update a:hover{
     background: chartreuse;
}
a{
    text-decoration: none;
}

#cen{
    margin:0 auto;
}
